/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Banana provisional web
Version:	2.0
Autor: Fedegilles

-------------------------------------------------------------------*/

/*------------------------------------------------------------------


[Contents]
[CSS styles in its order of appearance]
[To search for a specific css style search in its order of appearance in the HTML file]

-------------------------------------------------------------------*/


body {
	margin: 0;
	display: grid;
	grid-template-columns: repeat (auto, 6);
	grid-template-rows: repeat (auto, 10);
	grid-template-areas: 
	"nav nav nav nav nav nav"
	"header header header header header header"
	"section1 section1 section1 section1 section1 section1"
	"main main main main main main"
	"section2 section2 section2 section2 section2 section2"
	"section3 section3 section3 section3 section3 section3"
	"section4 section4 section4 section4 section4 section4"
	"section5 section5 section5 section5 section5 section5"
	"section6 section6 section6 section6 section6 section6"
	"footer footer footer footer footer footer";
}

/*-----  -----*/

nav	{
	grid-area: nav;
	height: 0px;
}
/*----- -----*/
header {
	grid-area: header;
	background-color: #ccc;
	height: 700px;
	padding-left: 30px;
	background-image: url("../img/head.jpg");
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
}

header h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 60px;
	color: #fff;
}

header h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 40px;
	color: #fff;
}

/*-----  -----*/

#bbox {
	grid-area: section1;
	background-color: #2D2D2B;
	padding: 50px 0 50px 30px;
}

#bbox h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}
/*-----  -----*/

main {
	grid-area: main;
	height: auto;
	padding: 50px 30px 50px 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.span-col-3 {
	grid-column: span 3 / auto;
}

main h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 30px;
	line-height: 1.4;
	color: #2D2D2B;
}

main p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.4;
	color: #2D2D2B;
}

/*-----  -----*/

#brands {
	grid-area: section2;
	background-color: #D6D6D6;
	height: auto;
	padding: 150px 30px 150px 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

#brands h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 30px;
	line-height: 1.4;
	color: #2D2D2B;
}

#brands div {
	height: 100px;
	background-color: #ccc;
}

#brands div img {
	width: 100%;
}

/*-----  -----*/

#bbox1 {
	grid-area: section3;
	background-color: #2D2D2B;
	padding: 50px 30px 50px 30px;
}

#bbox1 h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

/*-----  -----*/

#staff {
	grid-area: section4;
	height: auto;
	padding: 100px 30px 100px 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

#staff div {
	margin: auto;
}

#staff div img {
	height: 350px;
	width: 300px;
	background-color: #ccc;
}

#staff div p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	color: #c7c7c9;
	line-height: 1.4;
}

.names {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: #000;
}

/*-----  -----*/

#form {
	grid-area: section5;
	background-color: #F9F9F9;
	height: auto;
	padding: 100px 30px 100px 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 50px;
}

#form h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 40px;
	color: #2D2D2B;
}

#form p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #666666;
	padding: 0 100px 0 10px;
}

form {
	width: 80%;
	height: 600px;
	background-color: #FFC22E;
	margin: auto;
}

form table {
	width: 100%;
	height: 100%;
	padding: 30px;
}

form label {
	font-family: 'Maven+Pro', sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: #000;
}

form input {
	width: 100%;
	height: 40px;
	border: 0;
}

form textarea {
	width: 100%;
	height: 40px;
	resize: none;
	border: 0;
}

form button {
	width: 100px;
	height: 50px;
	background-color: #fff;
	border: 0;
	margin-top: 10px;
	float: right;
}

/*-----  -----*/

#pfooter {
	grid-area: section6;
	background-color: #636363;
	height: 100px;	
}

/*-----  -----*/

footer {
	grid-area: footer;
	background-color: #FFC22E;
	height: 100px;	
}