/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Banana provisional web
Version:	2.0
Autor: Fedegilles

-------------------------------------------------------------------*/

/*------------------------------------------------------------------


[Contents]
[CSS styles in its order of appearance]
[To search for a specific css style search in its order of appearance in the HTML file]

1.container
2.grid
3.grid media queries
4.header
5.bbox
6.skills
7.gbox
8.staff

-------------------------------------------------------------------*/

body {
	margin: 0;
	background-color: #fff;
}

/*----- container -----*/

div div div {
	padding: 20px;
	border-color: #ccc;
}

/*----- grid -----*/

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
}
.span-col-6{grid-column: span 6 / auto;}

.span-col-2{grid-column: span 2 / auto;}

.span-col-3{grid-column: span 3 / auto;}

/*----- grid media queries -----*/

/*----- header -----*/

.header {
	height: 700px;
	background-image: url("../img/head.jpg");
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
}

.header h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 60px;
	color: #fff;
}

.header h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 40px;
	color: #fff;
}

/*----- bbox -----*/

.bbox {
	background-color: #2D2D2B;
}

.bbox h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

/*----- skills -----*/

.skills p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.4;
	color: #2D2D2B;
}

/*----- gbox -----*/

.gbox {
	background-color: #D6D6D6;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.brands {
	height: 70px;
	width: 300px;
	margin: 10px 0 10px 0;
	background-color: #ccc;
}

/*----- profiles -----*/

.staff {
	margin: auto;
}

.profile {
	height: 250px;
	width: 250px;
	background-color: #ccc;
}

/*----- WWU -----*/

.wwu {
	background-color: #F9F9F9;
}

.wwu h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 50px;
	color: #2D2D2B;
}

.wwu p {

	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #666666;
	padding: 0 100px 0 10px;
}

/*----- contacto -----*/

.contacto {
	background-color: #F9F9F9;
}

form {
	width: 80%;
	background-color: #FFC22E;
	margin: auto;
}

.contacto table {
	background-color: #ccc;
}

.contacto {

}

/*----- prefoot -----*/

.prefoot {
	background-color: #2D2D2B;
	height: 70px;
}

/*----- footer -----*/

.footer {
	background-color: #FFC22E;
	height: 20px;
}

.footer div {
	padding: 0 20px 0 20px;
}

.footer p {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #2D2D2B;
}
