/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Banana Paradox provisional web
Version:	2.0
Autor: Fedegilles

-------------------------------------------------------------------*/

/*------------------------------------------------------------------


[Contents]
[CSS styles in its order of appearance]
[To search for a specific css style search in its order of appearance in the HTML file]

-------------------------------------------------------------------*/


body {
	margin: 0;
	display: grid;
	grid-template-columns: repeat (auto, 6);
	grid-template-rows: repeat (auto, 10);
	grid-template-areas: 
	"nav nav nav nav nav nav"
	"header header header header header header"
	"section1 section1 section1 section1 section1 section1"
	"main main main main main main"
	"section2 section2 section2 section2 section2 section2"
	"section3 section3 section3 section3 section3 section3"
	"section4 section4 section4 section4 section4 section4"
	"section5 section5 section5 section5 section5 section5"
	"section6 section6 section6 section6 section6 section6"
	"footer footer footer footer footer footer";
}

/*-----  -----*/

nav	{
	grid-area: nav;
	height: 0px;
}
/*----- -----*/
header {
	grid-area: header;
	height: 90vh;
	width: 100%;
	background-color: #000;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}

@media (max-width:900px) {
	header {
		height: 90vh;
}
}

@media (max-width:900px) {
	.color-over {
		height: 90vh;
}
}

@media (min-width:2000px) {
	.video-container video {
		width: 100%;
	}
}

@media (min-width:2000px) {
	.hd-text {
		padding-left: 0;
		margin-left: 23vw;
	}
}

.hd-text {
	z-index: 1;
	padding-left: 60px;
	padding-right: 60px;
}

header h1 {
	font-family: 'Hind', sans-serif;
	font-weight: 500;
	font-size: 60px;
	color: #fff;
	margin: 0;
	z-index: 1;
}

header h2 {
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	font-size: 38px;
	color: #fff;
	z-index: 1;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.color-over {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	height: 90vh;
}

.video-container video {
	height: 100%;
}

/*-----  -----*/

#bbox {
	grid-area: section1;
	background-color: #2D2D2B;
	padding: 50px 30px 50px 60px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.03), 0 5px 8px rgba(0,0,0,0.23);
}

@media (min-width:2000px) {
	#bbox {
		padding-left: 25vw;
	}
}

#bbox h3 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

/*-----  -----*/

main {
	grid-area: main;
	height: auto;
	padding: 50px 30px 50px 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

@media (min-width:2000px) {
	main {
		padding: 100px 15vw 100px 25vw;
	}
}

.span-col-3 {
	grid-column: span 3 / auto;
}

main h2 {
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	font-size: 30px;
	line-height: 1.4;
	color: #2D2D2B;
}

main p {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.4;
	color: #2D2D2B;
}

/*-----  -----*/

#brands {
	grid-area: section2;
	background-color: #D6D6D6;
	height: auto;
	padding: 150px 30px 200px 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 100px;
}

@media (min-width:2000px) {
	#brands {
		padding: 150px 20vw 200px 25vw;
	}
}

.brand {
	text-align: left;
	margin: auto auto auto 0;
}

#brands img {
	width: 50%;
	margin: auto;
	padding: auto;
}

#brands h2 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 30px;
	line-height: 1.4;
	color: #2D2D2B;
}

/*-----  -----*/

#bbox1 {
	grid-area: section3;
	background-color: #2D2D2B;
	padding: 50px 30px 50px 60px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.03), 0 5px 8px rgba(0,0,0,0.23);
}

@media (min-width:2000px) {
	#bbox1 {
		padding: 50px 20vw 50px 25vw;
	}
}

#bbox1 h3 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

/*-----  -----*/

#staff {
	grid-area: section4;
	height: auto;
	padding: 100px 30px 100px 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

@media (min-width:2000px) {
	#staff {
		padding: 50px 20vw 50px 20vw;
	}
}

#staff div {
	margin: auto;
}

#staff div img {
	height: 350px;
	width: 300px;
	filter: grayscale(90%);
  	transition: .5s ease;
}

#staff div img:hover {
  filter: grayscale(10%);
}

#staff div p {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	color: #c7c7c9;
	line-height: 1.4;
}

.names {
	font-family: 'Heebo', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: #000;
}

@media (max-width:900px) {
	#staff {
	grid-area: section4;
	height: auto;
	padding: 100px 200px 100px 200px;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 50px;
}
}

/*-----  -----*/

#form {
	grid-area: section5;
	background-color: #F9F9F9;
	height: auto;
	padding: 100px 60px 100px 60px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 50px;
}

hr {
	width: 100px;
	height: 3px;
	background-color: #FFC22E;
	border: none;
	margin: 0;
}

@media (max-width:900px) {
	#form {
	grid-area: section5;
	height: auto;
	padding: 100px 100px 100px 100px;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 50px;
}
}

@media (min-width:2000px) {
	#form {
		padding: 100px 25vw 100px 25vw;
	}
}

#form h2 {
	font-family: 'Hind', sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 1.2;
	color: #2D2D2B;
	margin: 50px 0 20px 0;
}

@media (max-width:900px) {
	#form h2 {
		padding: 0 100px 0 0;		
}
}

#form p {
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #666666;
	margin: 25px 0 0 0;
	padding: 0 0 0 0;
}

form {
	width: 70%;
	height: 600px;
	background-color: #FFC22E;
	box-shadow: 0 10px 10px rgba(0,0,0,0.05), 0 5px 8px rgba(0,0,0,0.15);
	float: right;
}

@media (max-width:900px) {
	form {
		width: 80%;
		float: left;
}
}

form table {
	width: 100%;
	height: 100%;
	padding: 30px;
}

form label {
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #000;
}

form input {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	padding: 0 5px 0 5px;
	border: 0;
	font-size: 15px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

form input:hover {
  box-shadow: 0 10px 10px rgba(0,0,0,0.05), 0 5px 8px rgba(0,0,0,0.15);
}

form textarea {
	width: 100%;
	height: 80px;
	margin-top: 10px;
	padding: 5px 5px 0 5px;
	resize: none;
	border: 0;
	font-size: 15px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

form textarea:hover {
  box-shadow: 0 10px 10px rgba(0,0,0,0.05), 0 5px 8px rgba(0,0,0,0.15);
}

form button {
	width: 100px;
	height: 50px;
	background-color: #fff;
	border: 0;
	margin-top: 10px;
	float: right;
	font-family: 'Heebo', sans-serif;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

form button:hover {
  box-shadow: 0 10px 10px rgba(0,0,0,0.05), 0 5px 8px rgba(0,0,0,0.15);
}


/*-----  -----*/

#pfooter {
	grid-area: section6;
	background-color: #2D2D2B;
	height: 70px;
	padding: 10px 60px 10px 60px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

@media (max-width:900px) {
	#pfooter {
		float: left;
		height: auto;
		padding: 10px 40px 20px 100px;
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 0;
}
}

@media (min-width:2000px) {
	#pfooter {
		padding: 50px 25vw 50px 25vw;
	}
}

.span-col-5 {
	grid-column: span 5 / auto;
}

#pfooter p {
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	margin-top: 25px;
}

@media (max-width:900px) {
	#pfooter p {
		font-size: 25px;
}
}

#pfooter img {
	height: 15px;
	margin-right: 10px;
	margin-top: 30px;
}

#pfooter img:hover {
	cursor: pointer;
}

@media (max-width:900px) {
	#pfooter img {
		height: 25px;
		margin-top: 5px;
		margin-bottom: 10px;
}
}

#pfooter div {
	height: auto;
}

/*-----  -----*/

footer {
	grid-area: footer;
	background-color: #FFC22E;
	height: auto;
	padding: 20px 60px 20px 60px;	
}

@media (max-width:900px) {
	footer {
		padding: 20px 100px 20px 100px;
}
}

@media (min-width:2000px) {
	footer {
		padding-left: 25vw;
	}
}

footer p {
	margin: 0;
	color: #2D2D2B;
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

@media (max-width:900px) {
	footer p {
		font-size: 25px;
		line-height: 1.4;
}
}